<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- SNS Link -->
                {% include sns-links.html center=true %}

                <p class="copyright text-muted">
                    <!-- 
                    Copyright &copy; {{ site.title }} {{ site.time | date: '%Y' }}
                    <br>
                    Powered by <a href="https://flyingwzb.github.io">Will Wang Blog</a> |
                    <iframe
                        style="margin-left: 2px; margin-bottom:-5px;"
                        frameborder="0" scrolling="0" width="100px" height="20px"
                        src="https://ghbtns.com/github-btn.html?user=flyingwzb&repo=flyingwzb.github.io&type=star&count=true" >
                    </iframe>
                    <br> 
                -->
                    <span id="busuanzi_container_site_pv">
                        本站总访问量<span id="busuanzi_value_site_pv"></span>次，
                    </span>
                    <span id="busuanzi_container_site_uv">
                        本站访客数<span id="busuanzi_value_site_uv"></span>人次
                    </span>
                </p>

            </div>
        </div>
    </div>
</footer>

<!-- Baidu Tongji -->
<script>
    // dynamic User by Hux
    var _baId = '{{ site.ba_track_id }}';

    // Originial
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?" + _baId;
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
</script>

